In [1]:
import pandas as pd
import numpy as np
position = pd.read_csv('position.csv',encoding='utf-8')
company = pd.read_csv('company_utf.csv',encoding='utf-8')

In [2]:
position

,positionId,city,companyId,firstType,secondType,education,industryField,positionAdvantage,positionName,positionLables,salary,bottom,top,avg,workYear
0,2537336,上海,8581,技术,数据开发,硕士,移动互联网,知名平台,数据分析师,"['分析师', '数据分析', '数据挖掘', '数据']",7k-9k,7,9,8.0,应届毕业生
1,2427485,上海,23177,技术,数据开发,本科,金融,"挑战机会,团队好,与大牛合作,工作环境好",数据分析师-CR2017-SH2909,"['分析师', '数据分析', '数据挖掘', '数据']",10k-15k,10,15,12.5,应届毕业生
2,2511252,上海,57561,设计,数据分析,本科,移动互联网,"时间自由,领导nic",数据分析师,"['分析师', '数据分析', '数据']",4k-6k,4,6,5.0,应届毕业生
3,2427530,上海,7502,市场与销售,数据分析,本科,"企业服务,数据服务",五险一金 绩效奖金 带薪年假 节日福利,大数据业务分析师【数云校招】,"['商业', '分析师', '大数据', '数据']",6k-8k,6,8,7.0,应届毕业生
4,2245819,上海,130876,技术,软件开发,本科,其他,在大牛下指导,BI开发/数据分析师,"['分析师', '数据分析', '数据', 'BI']",2k-3k,2,3,2.5,应届毕业生
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5026,2582910,北京,3786,开发/测试/运维类,数据开发,本科,"移动互联网,金融","大牛团队,互联网金融,零食水果,灵活工时",BI数据分析师,"['数据分析', '数据', 'BI', '分析师', '商业智能']",15k-25k,15,25,20.0,3-5年
5027,2583183,北京,59239,开发/测试/运维类,软件开发,本科,金融,五险一金，年底奖金,大数据风控研发工程师,"['专家', '高级', '软件开发']",15K-30K,15,30,22.5,3-5年
5028,1832950,北京,50702,技术,数据开发,本科,"移动互联网,O2O",期权,高级数据技术专家,"['数据挖掘', '数据']",30k-40k,30,40,35.0,5-10年
5029,2582349,北京,156832,市场/商务/销售类,销售,不限,金融,周末双休/高提成/每月员工趴,分析师助理／销售人员,"['顾问', '销售', '分析师']",4k-6k,4,6,5.0,不限
5030,1757974,北京,1575,技术,高端技术职位,本科,"移动互联网,数据服务",大公司，高福利，互联网数据团队，机会多,数据仓库建模工程师,"['数据仓库', '数据', '建模']",15k-30k,15,30,22.5,不限

In [3]:
position.avg.apply(lambda x : str(x)+'k')

0        8.0k
1       12.5k
2        5.0k
3        7.0k
4        2.5k
        ...
5026    20.0k
5027    22.5k
5028    35.0k
5029     5.0k
5030    22.5k
Name: avg, Length: 5031, dtype: object

In [7]:
def func(x):
    if x > 20:
        return '20+k'
    else:
        return '0~20k'
position.apply(lambda x :func(x.avg),axis=1)

0       0~20k
1       0~20k
2       0~20k
3       0~20k
4       0~20k
        ...
5026    0~20k
5027     20+k
5028     20+k
5029    0~20k
5030     20+k
Length: 5031, dtype: object

In [11]:
#定义一个查找薪资前五的函数
def func(x):
    r = x.sort_values('avg',ascending = False)
    return r[:5]

In [12]:
position.groupby('city').apply(func)

           positionId city  companyId  firstType secondType education  \
city
上海   835      2568751   上海     150849  开发/测试/运维类       数据开发        本科
     843      2475927   上海     151989         技术        管理岗        硕士
     781      2433090   上海      10821         技术        管理岗        本科
     807      2096082   上海     115142         技术       数据开发        硕士
     766       450723   上海      52905         技术     高端技术职位        本科
...               ...  ...        ...        ...        ...       ...
长沙   4950     2316232   长沙       6628      市场与销售      市场/营销        本科
     4961     2182674   长沙      95484         技术       后端开发        本科
     4955     1708654   长沙      66137         技术        DBA        大专
     4968     1903363   长沙      84817         技术       后端开发        不限
     4949     2576001   长沙     101239  产品/需求/项目类       数据分析        不限

          industryField       positionAdvantage            positionName  \
city
上海   835             硬件       VR,微鲸科技,阿里腾讯,行业领先  大数据架构师（阿里/腾讯/华人文化共同投资）
     843       金融,移动互联网    复兴集团背景 强大资源投入 发挥空间巨大                  数据技术总监
     781     移动互联网,电子商务       薪资优、福利全、平台大、产品应用广                   大数据架构
     807        金融,数据服务     团队和谐、带薪年假、定期体检、五险一金       大数据平台技术专家(J10083)
     766     移动互联网,数据服务  能力越大，责（quan）任（li）越大 期权                  大数据架构师
...                 ...                     ...                     ...
长沙   4950     电子商务,医疗健康    上市公司包吃包住五险一金周末双休年终双薪                   统计分析师
     4961       教育,文化娱乐                    弹性工作                大数据开发工程师
     4955    移动互联网,电子商务      带薪年假 年底双薪 包吃住 五险一金                DBA数据分析师
     4968     数据服务,企业服务            成长空间大、团队氛围好！               数据应用开发工程师
     4949    移动互联网,社交网络                高薪,福利待遇佳                 大数据研究经理

                                positionLables    salary  bottom  top   avg  \
city
上海   835            ['专家', '架构师', '大数据', '数据']  50k-100k      50  100  75.0
     843                        ['技术总监', '数据']  50k-100k      50  100  75.0
     781                  ['大数据', '架构师', '数据']   35k-70k      35   70  52.5
     807           ['平台', '大数据', '数据挖掘', '数据']   40k-60k      40   60  50.0
     766                  ['大数据', '架构师', '数据']   40k-60k      40   60  50.0
...                                        ...       ...     ...  ...   ...
长沙   4950                              ['分析师']   10k-20k      10   20  15.0
     4961                 ['大数据', '数据库', '数据']   10k-20k      10   20  15.0
     4955  ['分析师', '数据分析', '数据库', 'DBA', '数据']    9k-18k       9   18  13.5
     4968                               ['数据']   10k-15k      10   15  12.5
     4949                        ['大数据', '数据']   10k-15k      10   15  12.5

          workYear
city
上海   835     5-10年
     843     5-10年
     781     5-10年
     807     5-10年
     766     5-10年
...            ...
长沙   4950     1-3年
     4961     3-5年
     4955     3-5年
     4968       不限
     4949     1-3年

[65 rows x 15 columns]

In [14]:
#前五的薪资排序
position.sort_values('avg',ascending = False)[:5]

,positionId,city,companyId,firstType,secondType,education,industryField,positionAdvantage,positionName,positionLables,salary,bottom,top,avg,workYear
843,2475927,上海,151989,技术,管理岗,硕士,"金融,移动互联网",复兴集团背景 强大资源投入 发挥空间巨大,数据技术总监,"['技术总监', '数据']",50k-100k,50,100,75.0,5-10年
2864,2538369,北京,1880,开发/测试/运维类,运维安全,本科,移动互联网,"待遇优厚,平台超赞,租房补助,美味午晚餐",高级数据中心架构师,"['架构师', '运维', '数据']",50k-100k,50,100,75.0,3-5年
1375,2573388,深圳,3060,开发/测试/运维类,运维安全,本科,"移动互联网,企业服务",高薪~期权~,安全数据分析专家,"['专家', '安全', '网络安全', '病毒分析', '数据分析', '数据']",50k-100k,50,100,75.0,5-10年
835,2568751,上海,150849,开发/测试/运维类,数据开发,本科,硬件,"VR,微鲸科技,阿里腾讯,行业领先",大数据架构师（阿里/腾讯/华人文化共同投资）,"['专家', '架构师', '大数据', '数据']",50k-100k,50,100,75.0,5-10年
3493,2462755,北京,144570,技术,管理岗,本科,"金融,社交网络",智慧社区、综合管理,大数据总监,"['大数据', '合伙人', '数据']",60k-80k,60,80,70.0,10年以上

In [16]:
def func(x,n):
    r = x.sort_values('avg',ascending = False)
    return r[:n]

In [17]:
position.groupby('city').apply(func,n = 3)

           positionId city  companyId  firstType secondType education  \
city
上海   835      2568751   上海     150849  开发/测试/运维类       数据开发        本科
     843      2475927   上海     151989         技术        管理岗        硕士
     781      2433090   上海      10821         技术        管理岗        本科
北京   2864     2538369   北京       1880  开发/测试/运维类       运维安全        本科
     3493     2462755   北京     144570         技术        管理岗        本科
     3492     2266114   北京     106303         技术     高端技术职位        硕士
南京   4768     2279511   南京     133669         技术       后端开发        本科
     4780     2168293   南京       8250         技术       数据开发        本科
     4782     2512050   南京      31945         技术       后端开发        本科
厦门   4929     2559895   厦门     123068         技术        DBA        本科
     4936     2042554   厦门      84086         技术       后端开发        硕士
     4938     1894326   厦门     128288         技术       后端开发        不限
天津   5018     2343332   天津      66805         技术       后端开发        本科
     5022     2472967   天津      92444         技术       后端开发        本科
     5016     1934925   天津     132876         技术       后端开发        本科
广州   4102     1110078   广州        658         技术     高端技术职位        本科
     4122      817308   广州       2202         技术     高端技术职位        本科
     4100     2434980   广州       8695         技术       后端开发        本科
成都   4684     2324434   成都      42711         技术     高端技术职位        本科
     4688     2437522   成都      19365         技术       后端开发        本科
     4690     1317528   成都      52905         技术     高端技术职位        本科
杭州   4587     2032485   杭州     106239         职能     高端职能职位        本科
     4471     2478818   杭州      23573         技术       后端开发        大专
     4548     2522123   杭州     154782  开发/测试/运维类       数据开发        本科
武汉   4858     2551255   武汉      37236  开发/测试/运维类         安全        本科
     4832     2491598   武汉     130686         技术       后端开发        不限
     4867     2514347   武汉       8581         技术        DBA        本科
深圳   1375     2573388   深圳       3060  开发/测试/运维类       运维安全        本科
     1390     2568716   深圳      16831  开发/测试/运维类       数据开发        本科
     1427     2505234   深圳       3060         技术       后端开发        本科
苏州   4997     2064345   苏州      35384         技术     高端技术职位        本科
     5001     1818358   苏州       3564         技术     高端技术职位        本科
     4996     2578959   苏州         94  开发/测试/运维类       软件开发        硕士
西安   4906     2003822   西安       5672         技术     高端技术职位        本科
     4899     2574659   西安     157418  开发/测试/运维类       软件开发        本科
     4892     1424450   西安      83818         技术       后端开发        本科
长沙   4950     2316232   长沙       6628      市场与销售      市场/营销        本科
     4961     2182674   长沙      95484         技术       后端开发        本科
     4955     1708654   长沙      66137         技术        DBA        大专

          industryField     positionAdvantage  \
city
上海   835             硬件     VR,微鲸科技,阿里腾讯,行业领先
     843       金融,移动互联网  复兴集团背景 强大资源投入 发挥空间巨大
     781     移动互联网,电子商务     薪资优、福利全、平台大、产品应用广
北京   2864         移动互联网  待遇优厚,平台超赞,租房补助,美味午晚餐
     3493       金融,社交网络             智慧社区、综合管理
     3492    移动互联网,广告营销   一年15天年假，弹性工作时间，文化灵活
南京   4768    数据服务,移动互联网    高薪资、提供住宿、高水准研究开发团队
     4780       电子商务,旅游    年终奖，餐饮补贴，弹性工作，免费班车
     4782          生活服务        母婴大平台，公司快速发展阶段
厦门   4929    移动互联网,企业服务     双休车食补贴法定节假日医社保年终奖
     4936     电子商务,社交网络     牛人多,扁平化,五险一金,员工福利
     4938     数据服务,企业服务                广大发展空间
天津   5018    移动互联网,数据服务   五险一金，补充医疗保险，带薪休假，话补
     5022         移动互联网         股票期权、弹性工作、美女多
     5016     数据服务,企业服务     大数据平台 创业机会 高额股份期权
广州   4102            游戏        互联网30强企业 团队年轻化
     4122         移动互联网   包四餐（下午茶）、无息贷款买楼车、双休
     4100         移动互联网   年终分红,五险一金,股票期权,免费三餐
成都   4684     电子商务,数据服务   带薪年假、扁平管理、发展空间、上市规划
     4688    移动互联网,电子商务  优厚薪酬 期权计划 下午茶晚餐 滴滴打车
     4690    移动互联网,数据服务   能力越大，责（quan）任（li）越大
杭州   4587      移动互联网,其他       平台前景 股份 能实现财务自由
     4471    移动互联网,电子商务                  五险一金
     4548         移动互联网           弹性上班时间，股票期权
武汉   4858         移动互联网            专业,核心,数据脱敏
     4832    移动互联网,电子商务        五险一金，节日福利，带薪年假
     4867         移动互联网      电商平台，大数据，高薪资高福利。
深圳   1375    移动互联网,企业服务                高薪~期权~
     1390    移动互联网,分类信息             五险一金，免费班车
     1427    移动互联网,企业服务            大平台+个人发展空间
苏州   4997         移动互联网          大数据方向，行业前景广阔
     5001      移动互联网,旅游       扁平管理 发展潜力大 成熟团队
     4996          企业服务            国内一流语音技术团队
西安   4906         移动互联网     老板nice，氛围好，提升机会多~
     4899       数据服务,其他        这是实现你人生价值最好的平台
     4892       数据服务,金融   双休、五险、高比例公积金、周五福利假等
长沙   4950     电子商务,医疗健康  上市公司包吃包住五险一金周末双休年终双薪
     4961       教育,文化娱乐                  弹性工作
     4955    移动互联网,电子商务    带薪年假 年底双薪 包吃住 五险一金

                              positionName  \
city
上海   835            大数据架构师（阿里/腾讯/华人文化共同投资）
     843                            数据技术总监
     781                             大数据架构
北京   2864                        高级数据中心架构师
     3493                            大数据总监
     3492            集团总部-大数据中心-广告数据科学高级经理
南京   4768                        高级爬虫数据工程师
     4780                         大数据开发工程师
     4782                           大数据架构师
厦门   4929                         大数据挖掘工程师
     4936                            数据工程师
     4938                           大数据工程师
天津   5018                     大数据工程师数据挖掘方向
     5022                            数据工程师
     5016                       大数据开发高级工程师
广州   4102                             数据总监
     4122                    数据研发工程师(实时方向)
     4100                      资深数据平台研发工程师
成都   4684                          大数据研发总监
     4688                         高级大数据工程师
     4690                           大数据架构师
杭州   4587                         业务数据分析专家
     4471                           大数据工程师
     4548                         大数据挖掘工程师
武汉   4858                        高级数据安全工程师
     4832                              大数据
     4867                          BI数据架构师
深圳   1375                         安全数据分析专家
     1390                           大数据架构师
     1427                             数据分析
苏州   4997                            大数据专家
     5001                         高级大数据架构师
     4996                        数据分析平台架构师
西安   4906                          数据团队负责人
     4899  云计算、大数据(Hadoop\Spark) 技术经理(架构师)
     4892                         大数据开发工程师
长沙   4950                            统计分析师
     4961                         大数据开发工程师
     4955                         DBA数据分析师

                                              positionLables    salary  \
city
上海   835                          ['专家', '架构师', '大数据', '数据']  50k-100k
     843                                      ['技术总监', '数据']  50k-100k
     781                                ['大数据', '架构师', '数据']   35k-70k
北京   2864                                ['架构师', '运维', '数据']  50k-100k
     3493                               ['大数据', '合伙人', '数据']   60k-80k
     3492                                ['大数据', '广告', '数据']   50k-70k
南京   4768                                       ['爬虫', '数据']   20k-30k
     4780                       ['大数据', '数据挖掘', '数据库', '数据']   18k-30k
     4782                               ['大数据', '架构师', '数据']   18k-28k
厦门   4929                        ['大数据', '数据挖掘', '数据', '算法']   20k-30k
     4936                                             ['数据']   15K-30K
     4938                                      ['大数据', '数据']   10k-20k
天津   5018                              ['大数据', '数据挖掘', '数据']   15k-20k
     5022                                             ['数据']   12k-20k
     5016                               ['大数据', '数据库', '数据']   10k-20k
广州   4102                                             ['数据']   30k-60k
     4122                                             ['数据']   30k-50k
     4100                               ['平台', '后端开发', '数据']   30k-50k
成都   4684                                      ['大数据', '数据']   50k-80k
     4688                                      ['大数据', '数据']   20k-40k
     4690                               ['大数据', '架构师', '数据']   20k-40k
杭州   4587                                     ['数据分析', '数据']   40k-80k
     4471                                      ['大数据', '数据']   40k-80k
     4548  ['总监', '资深', '高级', '爬虫', '数据挖掘', '大数据', '数据挖掘'...   30K-60K
武汉   4858                                 ['专家', '数据', '安全']   18k-35k
     4832                                      ['大数据', '数据']   20k-30k
     4867                                ['架构师', '数据', 'BI']   20k-30k
深圳   1375         ['专家', '安全', '网络安全', '病毒分析', '数据分析', '数据']  50k-100k
     1390     ['资深', '数据分析', '数据挖掘', '机器学习', '图形处理', '人工智能']   40k-70k
     1427                                     ['数据分析', '数据']     50k以上
苏州   4997                                      ['大数据', '数据']   25k-35k
     5001                               ['大数据', '架构师', '数据']   20k-40k
     4996                        ['架构师', '数据分析', '数据', '平台']   20k-35k
西安   4906                                             ['数据']   30k-40k
     4899                                    ['架构师', '系统集成']   15k-30k
     4892                               ['大数据', '数据库', '数据']   10k-20k
长沙   4950                                            ['分析师']   10k-20k
     4961                               ['大数据', '数据库', '数据']   10k-20k
     4955                ['分析师', '数据分析', '数据库', 'DBA', '数据']    9k-18k

           bottom  top   avg workYear
city
上海   835       50  100  75.0    5-10年
     843       50  100  75.0    5-10年
     781       35   70  52.5    5-10年
北京   2864      50  100  75.0     3-5年
     3493      60   80  70.0    10年以上
     3492      50   70  60.0    10年以上
南京   4768      20   30  25.0     3-5年
     4780      18   30  24.0    5-10年
     4782      18   28  23.0    5-10年
厦门   4929      20   30  25.0     1-3年
     4936      15   30  22.5       不限
     4938      10   20  15.0       不限
天津   5018      15   20  17.5    5-10年
     5022      12   20  16.0       不限
     5016      10   20  15.0     3-5年
广州   4102      30   60  45.0    5-10年
     4122      30   50  40.0    5-10年
     4100      30   50  40.0    5-10年
成都   4684      50   80  65.0    5-10年
     4688      20   40  30.0    5-10年
     4690      20   40  30.0    5-10年
杭州   4587      40   80  60.0       不限
     4471      40   80  60.0     3-5年
     4548      30   60  45.0    5-10年
武汉   4858      18   35  26.5    5-10年
     4832      20   30  25.0     3-5年
     4867      20   30  25.0    5-10年
深圳   1375      50  100  75.0    5-10年
     1390      40   70  55.0    5-10年
     1427      50   50  50.0    10年以上
苏州   4997      25   35  30.0    5-10年
     5001      20   40  30.0    5-10年
     4996      20   35  27.5    5-10年
西安   4906      30   40  35.0    5-10年
     4899      15   30  22.5     3-5年
     4892      10   20  15.0     3-5年
长沙   4950      10   20  15.0     1-3年
     4961      10   20  15.0     3-5年
     4955       9   18  13.5     3-5年

In [18]:
position.groupby('city').agg(['sum','mean'])

      positionId                companyId               bottom             \
             sum          mean        sum          mean    sum       mean
city
上海    2110318627  2.155586e+06   57673139  58910.254341  12575  12.844740
北京    5172979443  2.204082e+06  129070908  54993.995739  32187  13.714103
南京     187518208  2.259256e+06    5298264  63834.506024    667   8.036145
厦门      58501438  1.950048e+06    1951895  65063.166667    231   7.700000
天津      44432139  2.221607e+06    1451047  72552.350000    126   6.300000
广州     742563610  2.216608e+06   20170238  60209.665672   3148   9.397015
成都     297347369  2.202573e+06    9766281  72342.822222   1279   9.474074
杭州     889996202  2.192109e+06   21205775  52230.972906   4826  11.886700
武汉     146508765  2.123315e+06    4130689  59865.057971    559   8.101449
深圳    1126009164  2.136640e+06   31355312  59497.745731   6759  12.825427
苏州      79232161  2.141410e+06    1751560  47339.459459    392  10.594595
西安      84351336  2.219772e+06    2785649  73306.552632    302   7.947368
长沙      53261203  2.130448e+06    1401826  56073.040000    174   6.960000

        top                 avg
        sum       mean      sum       mean
city
上海    21260  21.716037  16917.5  17.280388
北京    55537  23.662974  43862.0  18.688539
南京     1151  13.867470    909.0  10.951807
厦门      427  14.233333    329.0  10.966667
天津      204  10.200000    165.0   8.250000
广州     5363  16.008955   4255.5  12.702985
成都     2190  16.222222   1734.5  12.848148
杭州     8536  21.024631   6681.0  16.455665
武汉     1000  14.492754    779.5  11.297101
深圳    11782  22.356736   9270.5  17.591082
苏州      685  18.513514    538.5  14.554054
西安      509  13.394737    405.5  10.671053
长沙      306  12.240000    240.0   9.600000